/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */ 

/* SHARED CSS */
::-moz-selection {
  color: #109111;
  background: #1434A4;
  text-shadow: none;
}

::selection {
  color: #109111;
  background: #1434A4;
  text-shadow: none;
}

.center-box {
  margin: auto;
  width: 100;
  text-align: center;
  font-size: max(10.66px, 1.184vw);
}

/* DESKTOP CSS */
@media only screen and (min-width: 600px) {
  p {
    line-height: 0.0;
    font-size: max(10.66px, 1.184vw);
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
  
  .top-line {
    width:37%;
    color:#f1f1f1;
    position:relative;
    bottom: 7px;
  }
  
  .bottom-line {
    width:37%; 
    color:#f1f1f1;
  }

  .top-margin{
    margin-bottom: 114px;
  }

  .right-box {
    font-size: max(20px, 2.22vw);
    padding-right: 35%;
    text-align: right;
  }
  
  .right-info {
    font-size: max(13.33px, 1.48vw);
    padding-right: 35%;
    padding-bottom: 3%;
    text-align: right;
  }
  
  .left-box {
    font-size: max(20px, 2.22vw);
    padding-left: 35%;
    text-align: left;
  }
  
  .left-info {
    font-size: max(13.33px, 1.48vw);
    padding-left: 35%;
    padding-bottom: 3%;
    text-align: left;
  }

  .right-box-housekeeping {
    font-size: max(20px, 2.22vw);
    padding-right: 35%;
    text-align: right;
    white-space: nowrap;
  }
}

/* MOBILE CSS */
@media only screen and (max-width: 600px) {
  p {
    line-height: 0.0;
    font-size: max(14px, 1.184vw);
  }

  .mobile {
    display: block;
    font-size: 16px;
    width: 75%;
    margin: auto;
  }

  .text-box {
    font-size: 16px;
    width: 66%;
    margin: auto;
  }

  .desktop {
    display: none;
  }

  img {
    width: 66%;
  }

  .top-line {
    width:100%;
    color:#f1f1f1;
    position:relative;
    bottom: 7px;
    border: none;
    background-color: #f1f1f1;
    height: 2.5px;
  }
  
  .bottom-line {
    width:100%; 
    color:#f1f1f1;
    border: none;
    background-color: #f1f1f1;
    height: 2.5px;
  }

  br {
    margin-bottom: 3%;
  }

  .right-box {
    font-size: max(20px, 2.22vw);
    padding-right: 2em;
    text-align: right;
  }
  
  .right-info {
    font-size: max(13.33px, 1.48vw);
    padding-right: 3em;
    padding-bottom: 3%;
    text-align: right;
  }
  
  .left-box {
    font-size: max(20px, 2.22vw);
    /* font-size: 13.33px; */
    padding-left: 2em;
    text-align: left;
  }
  
  .left-info {
    font-size: max(13.33px, 1.48vw);
    /* font-size: 18px; */
    padding-left: 3em;
    padding-bottom: 3%;
    text-align: left;
  }

  .right-box-housekeeping {
    font-size: max(20px, 2.22vw);
    padding-right: 2em;
    text-align: right;
    white-space: nowrap;
  }
}